@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
} 
@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
}
a, p {
    font-family: "Lato", sans-serif;
}

/* Works on Chrome, Safari and Edge */
body {
    scrollbar-width: thin;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 10px; /* Ancho de la scrollbar */
}
body::-webkit-scrollbar-track {
    background-color: #E7E7E7;
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ffd771; /* Color del control deslizante */
}
body::-webkit-scrollbar-thumb:hover {
    background-color: #FD9E02; /* Color del control deslizante */
}
body::-webkit-scrollbar-thumb:active {
    background-color: #FB8500; /* Color del control deslizante */
}