<footer class="
    [grid-area:footer] p-6 h-auto flex-col flex justify-center items-center gap-2
    bg-grey_dark text-platinum"
>
    <p class="text-lg font-bold">Skullshirt</p>
    <p class="text-sm">® All rights reserved 2023</p>
</footer>